@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .my-input {
      @apply w-full bg-amber-900 text-amber-100 py-2 rounded-lg outline-none px-2 py-1.5;
      
   }
}

button[disabled],
a[aria-disabled="true"],
.disabled {
   pointer-events: none;
   opacity: 0.6;
}

.no-scrollbar::-webkit-scrollbar {
   display: none;
}

.no-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

.mask {
   -webkit-mask-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.8) 1%,
      #fff 1%,
      #fff 99%,
      rgba(255, 255, 255, 0.8) 1%,
      rgba(255, 255, 255, 0)
   );
}

.mask-vertical {
   -webkit-mask-image: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0.8) 10%,
      #fff 25%,
      #fff 75%,
      hsla(0, 0%, 100%, 0.8) 90%,
      hsla(0, 0%, 100%, 0)
   );
}


.progress-line {
   position: relative;
   cursor: pointer;
   width: 100%;
   height: 4px;
   border-radius: 99px;
 }
 
 .progress-line::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 300%;
   bottom: 100%;
   left: 0;
   transform: translateY(66%);
 }
 